<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wildfire and Climate Data Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
  
  <!-- Icons -->
  <script src="static/js/leaflet.extra-markers.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
  <link rel="stylesheet" href="../static/css/leaflet.extra-markers.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- MomentJS -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script> -->

  <!-- Other head content -->
  <script src="https://unpkg.com/simple-statistics@7.8.3/dist/simple-statistics.min.js"></script>
  
  <!-- MiniMap library -->
  <script src="https://cdn.jsdelivr.net/gh/maneoverland/leaflet.WorldMiniMap@1.0.0/dist/Control.WorldMiniMap.js" integrity="sha512-PFw8St3qenU1/dmwCfiYYN/bRcqY1p3+sBATR+rZ6622eyXOk/8izVtlmm/k8qW7KbRIJsku838WCV5LMs6FCg==" crossorigin=""></script>


  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Our JavaScript file -->
  <script src="../static/js/visualizations.js"></script>
  <script src="../static/js/leaflet-providers.js"></script>
  <script src="../static/js/plots.js"></script>
</head>

<body>
  <div class="container">

    <!-- First row. This is the header and title -->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Wildfire and Climate Data Dashboard</h1>
        <p>Use the interactive charts below to explore the datasets</p>
      </div>
    </div>

    <!-- Second row. This will be the scatter plots that is constant -->
    <div class="row">
      <div class="col-md-12">
        <div id="plots-title">
          <h2>Climate variable versus wildfires</h2>
          <h5>For wildfire season only (which is May to September, when 96% of all fires in data occurred)</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="rain-vs-count" style="height: 450px;"></div>
      </div>
      <div class="col-md-6">
        <div id="temp-vs-count" style="height: 450px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="scatter1"></div>
      </div>
      <div class="col-md-6">
        <div id="scatter2"></div>
      </div>
    </div>
    <hr>
    <!-- Third row. This will be the scatter plots that is constant -->
    <div class="row">
      <div class="col-md-6">
        <div id="rain-vs-size" style="height: 450px;"></div>
      </div>
      <div class="col-md-6">
        <div id="temp-vs-size" style="height: 450px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="scatter3"></div>
      </div>
      <div class="col-md-6">
        <div id="scatter4"></div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div id="map-title">Map Title</div>
      </div>
    </div>

    <!-- This row will have several viz that change on year -->
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Year:</h5>
          <select id="selYear" onchange="updateDashboard(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Climate Info</h3>
          </div>
          <div id="year-info" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- <div id="map-title">Map Title</div> -->
        <div id="yearly-map" style="height: 450px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="plot3"></div>
      </div>
    </div>


    <!-- Animated Map Section based on the Leaflet-provider.js file -->
    <div class="row">
      <div class="col-md-8">
        <div id="animated-map" style="height: 600px;"></div>
      </div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script>
    // <!-- I could add more stuff here, I'm not sure yet, would like to discuss with you guys -->
    // var map = L.map('animated-map').setView([50, -85], 5);
    // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //   maxZoom: 19,
    // }).addTo(map);

    // This is the yearly map initialization that updates with the dropdown
    var yearlyMap = L.map('yearly-map').setView([50, -85], 5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 19,
    }).addTo(yearlyMap);
    var worldMiniMap = L.control.worldMiniMap({position: 'bottomright', style: {opacity: 0.9, borderRadius: '0px', backgroundColor: 'lightblue'}}).addTo(yearlyMap);

  </script>
</body>

</html>